<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hanapp_logo"
        android:label="Hanapp"
        android:roundIcon="@drawable/hanapp_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ProductPageActivity"
            android:windowSoftInputMode="adjustNothing"></activity>
        <activity
            android:name=".ItemListActivity"
            android:windowSoftInputMode="adjustNothing"/>

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMlzjwTjNCVikeQ_LpdKAu7s9EgI5AJQ0"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CameraActivity"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".HomeActivity"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".Maps"
            android:windowSoftInputMode="adjustNothing" />

    </application>

</manifest>